{% load static %}

    <!-- Required Js -->
    <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/icon/custom-font.js' %}"></script>
    <script src="{% static 'assets/js/component.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>


    <script>
      layout_change('false');
    </script>


    <script>
      layout_rtl_change('false');
    </script>


<script>
            var forms_hide = '@@search_hide';
            var contact_form = document.getElementById('contact-form');
            if (forms_hide == 'true') {
              contact_form.classList.add('hidden');
            }
          </script>