{% load static %}

<!-- [ Nav ] start -->
<nav class="z-50 w-full relative bg-neutral-200">
    <div class="container">
        <div class="static flex py-4 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
                <div class="flex flex-1 flex-shrink-0 items-center justify-between text-primary-500">
    <a href="/" class="flex items-center gap-2 lg:gap-3">
    <!-- [ Logo main ] start -->
    <img
            style="max-width: 164px;"
        src="{% static 'assets/images/ai-logo.png' %}"
        alt="TAMES Logo"
        class="w-[100px] h-[100px] lg:w-[120px] lg:h-[120px] object-contain"
    >
    <!-- [ Logo main ] end -->
</a>
</div>
                <div class="nav-collapse grow hidden w-full lg:flex lg:w-full flex-auto justify-center"
                     id="main-navbar-collapse">
                    <div class="justify-center flex flex-col lg:flex-row p-0 lg:bg-neutral-200 lg:rounded-full">
                        <a class="inline-block text-neutral-900 hover:bg-primary-500/[.04] dark:text-themedark-bodycolor rounded-full px-[18px] lg:px-6 py-3 text-[14px] font-medium transition-all leading-[1.429] open:text-primary-500 open:font-semibold"
                           href="/">
                            Bosh sahifa
                        </a>

                        <a href="/#diagnos"
                           class="inline-block text-neutral-900 hover:bg-primary-500/[.04] dark:text-themedark-bodycolor rounded-full px-[18px] lg:px-6 py-3 text-[14px] font-medium transition-all leading-[1.429] open:text-primary-500 open:font-semibold">
                            Tashxis
                        </a>

                        <a href="/#statistic"
                           class="inline-block text-neutral-900 hover:bg-primary-500/[.04] dark:text-themedark-bodycolor rounded-full px-[18px] lg:px-6 py-3 text-[14px] font-medium transition-all leading-[1.429] open:text-primary-500 open:font-semibold">
                            Statistika
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-3">
                <div class="btn-group">
                    <a href="/" type="button"
                       class="flex items-center justify-center h-10 w-10 rounded-full btn-outline-primary dropdown-toggle arrow-none p-[9px_24px]"
                       type="button" data-pc-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti ti-settings text-lg leading-none"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end leading-none !mt-2">
                        <div class="dropdown-item !bg-transparent">
                            <label class="flex items-center gap-3 flex-1" for="theme-setup-dark">
                                <div class="shrink-0">
                                    <i class="ti ti-sun-moon !text-2xl !leading-none"></i>
                                </div>
                                <div class="grow text-base leading-none" for="theme-setup-dark">Tungi</div>
                                <div class="shrink-0">
                                    <div class="form-check form-switch custom-switch-v1 !inline-flex !m-0">
                                        <input type="checkbox" class="form-check-input input-primary"
                                               id="theme-setup-dark">
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <a href="https://t.me/nnigmatovna"
                   class="btn-primary btn max-sm:hidden">Bog'lanish</a>
            </div>
            <button data-pc-toggle="nav-collapse" type="button" data-pc-target="#main-navbar-collapse"
                    class="inline-flex ltr:ml-2 rtl:mr-2 items-center p-2 w-10 h-10 justify-center text-sm text-neutral-900 rounded-full lg:hidden hover:bg-neutral-100 focus:outline-none focus:ring-2 focus:ring-neutral-200  dark:focus:ring-gray-600">
                <i class="ti ti-menu-2 text-2xl leading-none"></i>
            </button>
        </div>
    </div>
</nav>
<!-- [ Nav ] end -->